$wrapper = 1200px
$footer = 350px
$footerMobile = 300px

html
  position relative
  min-height 100%
body
  font-family 'Roboto', sans-serif
  font-size 16px
  line-height 1.2
  margin-bottom $footerMobile + 20
  background #fff
  @media XS
    margin-bottom 290px
  @media SM
    margin-bottom $footer + 20
footer
  height $footerMobile
  @media XS
    height 260px
  @media SM
    height $footer
.wrapper
  clearfix()
  position relative
  max-width 1200px
  height 100%
  padding-left 15px
  padding-right 15px
  margin-left auto
  margin-right auto
main
  display block
  position relative
  max-width 1200px
  padding 0 15px
  margin 0 auto
.main
  clearfix()
  padding 30px 0
  .sidebar
    @media SM
      float left
      width 300px
      padding-right 30px
      & + .content
        padding-left 300px
      &.right
        float right
        padding-right 0
        padding-left 30px
        & + .content
          padding-left 0
          padding-right 300px
  .content
    @media XS
      width 100%
