h1, h2, h3, h4, h5, h6
  line-height 1.2
  font-weight bold
h1
  font-size 36px
h2
  font-size 30px
h3
  font-size 24px
h4
  font-size 18px
h5
  font-size 14px
h6
  font-size 12px

p
  margin-top 0
  margin-bottom 20px

.red
  color $red

article
  h2
    position relative
    font-size 24px
    text-transform uppercase
    font-weight bold
    margin-bottom 40px
    &:after
      content ''
      width 70px
      height 2px
      background $blue
      position absolute
      left 0
      bottom -19px
  p
    font-size 14px
    line-height 22px
    color $text-muted
    &.lead-paragraph
      font-size 16px
      font-style italic
    &:last-child
      margin-bottom 0