extends ../modules/layout/layout.jade

block title
  title Каталог (Уровень 1)

block content
  main
    .m_breadcrumbs
      ul
        li: a(href="#") Главная
        li: a(href="#") Каталог
    .page-heading
      h2 Каталог
    .m_catalog-categories
      .column
        .lead
          .image: img(src="images/content/catalog-caterogies/1.png" alt="")
          .links
            .title: a(href="#") Кухонные мойки
            ul
              li: a(href="#") Подкатегория (100)
              li: a(href="#") Подкатегория (100)
              li: a(href="#") Подкатегория (100)
              li: a(href="#") Подкатегория (100)
              li: a(href="#") Подкатегория (100)
              li: a(href="#") Подкатегория (100)
              li: a(href="#") Подкатегория (100)
              li: a(href="#") Подкатегория (100)
              li: a(href="#") Подкатегория (100)
        .desc Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.
      .column
        .lead
          .image: img(src="images/content/catalog-caterogies/2.png" alt="")
          .links
            .title: a(href="#") Смесители
            ul
              li: a(href="#") Подкатегория (100)
              li: a(href="#") Подкатегория (100)
              li: a(href="#") Подкатегория (100)
              li: a(href="#") Подкатегория (100)
              li: a(href="#") Подкатегория (100)
              li: a(href="#") Подкатегория (100)
              li: a(href="#") Подкатегория (100)
              li: a(href="#") Подкатегория (100)
              li: a(href="#") Подкатегория (100)
        .desc Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.
      .column
        .lead
          .image: img(src="images/content/catalog-caterogies/3.png" alt="")
          .links
            .title: a(href="#") Ванны
            ul
              li: a(href="#") Подкатегория (100)
              li: a(href="#") Подкатегория (100)
              li: a(href="#") Подкатегория (100)
              li: a(href="#") Подкатегория (100)
              li: a(href="#") Подкатегория (100)
              li: a(href="#") Подкатегория (100)
              li: a(href="#") Подкатегория (100)
              li: a(href="#") Подкатегория (100)
              li: a(href="#") Подкатегория (100)
        .desc Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.
      .column
        .lead
          .image: img(src="images/content/catalog-caterogies/4.png" alt="")
          .links
            .title: a(href="#") Душевые кабины
            ul
              li: a(href="#") Подкатегория (100)
              li: a(href="#") Подкатегория (100)
              li: a(href="#") Подкатегория (100)
              li: a(href="#") Подкатегория (100)
              li: a(href="#") Подкатегория (100)
              li: a(href="#") Подкатегория (100)
              li: a(href="#") Подкатегория (100)
              li: a(href="#") Подкатегория (100)
              li: a(href="#") Подкатегория (100)
        .desc Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.
    .m_seo-text
      p: i <b>Пример SEO текста.</b> Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.
      p: i Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случилось?» – подумал он. Это не было сном. Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех хорошо знакомых стенах. Над столом, где были разложены распакованные образцы сукон – Замза был коммивояжером, – висел портрет, который он недавно вырезал из иллюстрированного журнала и вставил в красивую золоченую рамку.
    .m_bottom-viewed-items
      .bottom-viewed-items-nav
        a(class="viewed current" href="#") Ранее вы смотрели
        a(class="top" href="#") Лучшие предложения
      .bottom-viewed-items-loader
        span
        span
        span
      .bottom-viewed-items-content
        .bottom-viewed-item.enabled
          - for (var x = 0; x < 4; x++)
            .item
              include ../modules/item/m_item
        .bottom-viewed-item.disabled
          - for (var x = 0; x < 4; x++)
            .item
              include ../modules/item/m_item