extends ../modules/layout/layout.jade

block title
  title Главная

block header
  header.m_header
    .top-header
      .wrapper
        .menu
          ul
            li: a(href="#") Условия оплаты
            li: a(href="#") Доставка
            li: a(href="#") Вопрос-ответ
            li: a(href="#") Отзывы
        .callback: a(class="call-popup" href="#popup-callback") Заказать звонок
        .tel: a(href="tel:+88002000600") 8 800 2000 600
    .bottom-header
      .wrapper
        .logo: a(href="#")
        .menu
          ul
            li.menu-lead-item
              a(href="#") Каталог
              .m_menu-dropdown
                .column
                  .category
                    .title: a(href="#") Кухонные мойки
                    ul
                      li: a(href="#") Подкатегория
                      li: a(href="#") Подкатегория
                      li: a(href="#") Подкатегория
                      li: a(href="#") Подкатегория
                      li: a(href="#") Подкатегория
                      li: a(href="#") Подкатегория
                      li: a(href="#") Подкатегория
                      li: a(href="#") Подкатегория
                      li: a(href="#") Подкатегория
                  .category
                    .title: a(href="#") Сместители
                    ul
                      li: a(href="#") Подкатегория
                      li: a(href="#") Подкатегория
                      li: a(href="#") Подкатегория
                      li: a(href="#") Подкатегория
                      li: a(href="#") Подкатегория
                      li: a(href="#") Подкатегория
                      li: a(href="#") Подкатегория
                      li: a(href="#") Подкатегория
                      li: a(href="#") Подкатегория
                .column
                  .category
                    .title: a(href="#") Ванны
                    ul
                      li: a(href="#") Подкатегория
                      li: a(href="#") Подкатегория
                      li: a(href="#") Подкатегория
                  .category
                    .title: a(href="#") Душевые кабины
                  .category
                    .title: a(href="#") Унитазы
                  .category
                    .title: a(href="#") Доп. категория
                .column
                  .recommended
                    .title Рекомендуем
                    .m_item
                      .image
                        a(href="#"): img(src="images/content/item/1.png" alt="")
                      .details
                        .title: a(href="#") Душевая кабина Jacuzzi Frame
                        .articul
                          .label Артикул:
                          .value 9448-2721254
                        .produced
                          .label Производитель:
                          .value Jacuzzi
                        .available В наличии
                        .not-available Нет в наличии
                        .price
                          .old 15 000
                          .current 12 450
                        .action
                          a(href="#") Купить

            li.menu-lead-item: a(href="#") Акции
            li.menu-lead-item: a(href="#") Услуги
            li.menu-lead-item: a(href="#") О компании
            li.menu-lead-item: a(href="#") Контакты
        .options
          //- Мобильное меню
          .mobile-menu
            .mobile-menu-trigger: span
          //- Корзина
          .cart(title="Корзина")
            a(href="#")
              span.icon
              span.total 1
              span.label Корзина
            .total-sum 6 299.10
          //- Сравнение товаров
          .compare(title="Сравнение товаров")
            a(href="#")
              span.icon
              span.total 12
          //- Поиск
          .search(title="Поиск")
            a(href="#")
              span.icon
    include ../modules/menu-phone/m_menu-phone
    include ../modules/header-search/m_header-search
    include ../modules/header-cart/m_header-cart

block popups
  // Popup: callback
  div(id="popup-callback" class="zoom-anim-dialog mfp-hide popup")
    h2 Заказать звонок
    p Мы свяжемся с вами в удобное для Вас время
    form
      .form-row
        input(type="text" placeholder="Как Вас зовут?" autocomplete="off")
      .form-row
        input(type="tel" placeholder="Ваш телефон" autocomplete="off")
      .form-row
        textarea(placeholder="Текст вопроса")
      .form-row
        button(type="submit") Отправить заявку
  // Popup: success
  a(id="success" class="call-popup" href="#popup-success")
  div(id="popup-success" class="zoom-anim-dialog mfp-hide popup")
    h2 Наш менеджер свяжется с Вами в ближайшее время
block content
  .wrapper


