extends ../modules/layout/layout.jade

block title
  title Доставка

block content
  main
    .m_breadcrumbs
      ul
        li: a(href="#") Главная
        li: a(href="#") Информация
        li: a(href="#") Доставка
    .page-heading
      h2 Доставка
    .main
      aside.sidebar
        .m_sidebar-nav
          ul
            li: a(href="#"): span Условия оплаты
            li: a(class="current" href="#"): span Доставка
            li: a(href="#"): span Гарантия на товар
            li: a(href="#"): span Вопрос-ответ
      section.content
        article
          h3 Доставка по Москве и Московской области
          p Доставка в рамках Московского региона осуществляется нашим автотранспортом в течение 1-2 дней после принятия изделия.<br>Стоимость доставки в пределах МКАД + 30 км  составляет 2000 руб., далее 30 руб./км<br>Разгрузка товара в обязанности водителя не входит.
          p При стоимости товара более 150 000 руб. доставка бесплатна в пределах Москвы и Московской области.<br>Заказчик или доверенное лицо должны принять товар до осуществления разгрузки, под
          h3 Доставка в регионы и страны СНГ
          p Доставка в другие регионы России и страны СНГ  осуществляется транспортными компаниями.В этом случае     ответственность за сохранность товара переходит на транспортную компанию, осуществляющую доставку.<br>Срок поставки составляет от 1 до 10 дней в зависимости от региона поставки.<br> Стоимость доставки зависит от веса товара, габаритов и дальности поставки.<br> Для оптимизации транспортных затрат советуем обратиться к нашим менеджерам.