.m_comment-item
  position relative
  padding 20px
  border 1px solid #eeefef
  margin-bottom 20px
  .info
    .username,
    .post-date
      display inline-block
      vertical-align middle
    .username
      font-weight bold
      font-size 16px
      margin-right 10px
    .post-date
      color #999
      font-size 14px
  .post
    color #555555
    font-size 14px
    line-height 22px
    margin-top 15px
