// Mobile burger button
.mobile-menu-trigger
  anim()
  position absolute
  left 50%
  top 50%
  height 27px
  width 34px
  margin-left -(@width/2)
  margin-top -(@height/2)
  display block
  border 5px solid transparent
  cursor pointer
  @media SM
    display none
  &:after,
  &:before,
  span
    anim()
    content ''
    position absolute
    left 50%
    width 20px
    margin-left -10px
    height 2px
    background #000
  &:before
    top 0
  &:after
    bottom 0
  span
    top 50%
    margin-top -1.5px
  &.open
    span
      opacity 0
      transform translateX(-5px)
    &:after
      transform rotate(135deg) translate(-6px, 6px)
    &:before
      transform rotate(-135deg) translate(-5px, -4px)

.h-close
  width 30px
  height 30px
  position absolute
  right 0
  top 0
  background none
  border none
  display none
  @media SM
    display block
  &:after
    content ''
    sprite()
    size(10px)
    position absolute
    left 50%
    top 50%
    margin-left -5px
    margin-top -5px
    background-position 0 0
  &:hover
    &:after
      background-position -50px 0
