.m_pluses
  padding 40px 0
  background #fff
  .column
    width 100%
    float left
    text-align center
    padding 0 20px
    @media XS
      width 50%
    @media SM
      width 25%
    .image
      height 100px
      line-height 100px
      text-align center
      img
        display inline-block
        vertical-align middle
    .title
      font-weight bold
      font-size 16px
      text-transform uppercase
      margin-bottom 10px
    .desc
      font-style italic
      color #555